set timeout=60
set default=0

menuentry 'Install KITpro OS (Full)' {
  linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KITproOS-9.5 inst.ks=cdrom:/ks/kitpro-full.ks rd.live.check=0 quiet
  initrdefi /images/pxeboot/initrd.img
}

menuentry 'Install KITpro OS (Light)' {
  linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KITproOS-9.5 inst.ks=cdrom:/ks/kitpro-light.ks rd.live.check=0 quiet
  initrdefi /images/pxeboot/initrd.img
}

menuentry 'Troubleshooting (Rescue Mode)' {
  linuxefi /images/pxeboot/vmlinuz inst.rescue quiet
  initrdefi /images/pxeboot/initrd.img
}
