default vesamenu.c32
timeout 600
menu title Welcome to KITpro OS
menu background splash.png

label kitpro-full
  menu label ^Install KITpro OS (Full)
  kernel vmlinuz
  append initrd=initrd.img inst.stage2=hd:LABEL=KITproOS-9.5 inst.ks=cdrom:/ks/kitpro-full.ks rd.live.check=0 quiet

label kitpro-light
  menu label ^Install KITpro OS (Light)
  kernel vmlinuz
  append initrd=initrd.img inst.stage2=hd:LABEL=KITproOS-9.5 inst.ks=cdrom:/ks/kitpro-light.ks rd.live.check=0 quiet

label rescue
  menu label ^Rescue a KITpro OS system
  kernel vmlinuz
  append initrd=initrd.img inst.rescue quiet
